{
  "env": {
    "browser": true,
    "jquery": true
  },
  "globals": {
    "_": true
  },
  "plugins": [
    "angular"
  ],
  "rules": {
    "angular/ng_di": [2, "array"]
  },
  "extends": "angular"
}
