{
  "env": {
    "node": true
  },
  "globals": {
    "AuthService": true,
    "CryptoService": true,
    "ContactService": true,
    "ExceptionService": true,
    "sails": true,
    "Contact": true,
    "User": true,
    "UserController": true
  },
  "rules": {
    "quotes": [2, "single"],
    "no-underscore-dangle": [0]
  },
  "extends": "eslint:recommended"
}
