{
  "env": {
    "node": true
  },
  "globals": {
    "ExceptionService": true,
    "sails": true,
    "User": true,
    "UserController": true,
    "UserService": true
  },
  "rules": {
    "quotes": [2, "single"],
    "no-underscore-dangle": [0]
  },
  "extends": "eslint:recommended"
}
