<!-- Default home page -->
<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h1><%= __('SITE.TITLE') %></h1>
    </div>
    <p><%= __('SITE.WELCOME')%></p>
  </div>
</div>
