<div id="user-list" ng-controller="UserController as vm">

  <h2>User List</h2>
  <p id='no-users' ng-hide="vm.data.users.length > 0">No Users!</p>
  <table id='users' ng-hide="vm.data.users.length === 0">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="2">Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in vm.data.users">
        <td>{{ user.name }}</td>
        <td><button ng-click="vm.setState('edit', user)">Edit</button></td>
        <td><button ng-click="vm.setState('delete', user)">Delete</button></td>
      </tr>
    </tbody>
  </table>

  <p id='create-user' ng-show="vm.state === 'init'"><a href="#" ng-click="vm.setState('create')">Create User</a></p>

  <fieldset id='edit-form' ng-show="vm.state === 'create' || vm.state === 'edit'">
    <legend>{{ vm.state === 'create' ? 'Create' : 'Edit'}} Form</legend>
    <label for="name">Name</label>
    <input ng-model="vm.data.user.name" type="text" name="name" id="name" />
    <button ng-show="vm.state === 'create'" ng-click="vm.create()">create</button>
    <button ng-show="vm.state === 'edit'" ng-click="vm.edit()">edit</button>
    <button ng-click="vm.setState('init')">cancel</button>
  </fieldset>

  <fieldset id='delete-form' ng-show="vm.state === 'delete'">
    <legend>Delete user id {{data.user.id}} ?</legend>
    <p>Are you sure?  This operation cannot be undone.</p>
    <button ng-click="vm.delete()">yes</button>
    <button ng-click="vm.setState('init')">no</button>
  </fieldset>

</div>
