<div id="user-list">

<h2>User List</h2>
<% if (users.length === 0) { %>
  <p>No users!</p>
<% } else { %>
  <ul>
    <% users.forEach(function (user) {%>
      <li><%= user.name %>
        <a href="/user/edit/<%= user.id %>">Edit</a>
        <a href="/user/delete/<%= user.id %>">Delete</a>
      </li>
    <%})%>
  </ul>
<% } %>

<p><a href="/user/create">Create</a></a>
</div>
