{
  "env": {
    "browser": true,
    "jquery": true
  },
  "globals": {
    "inject": true,
    "$expect": true,
    "ejs": true,
    "module": true,
    "sinon": true,
    "chai": true
  },
  "rules": {
    "angular/ng_no_angular_mock": [0]
  },
  "plugins": [
    "angular"
  ],
  "extends": "angular"
}
